<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Soy estudiante del ciclo formativo de grado superior en Desarrollo de Aplicaciones Web, en formación como desarrolladora web full stack.
        Como persona proactiva y comprometida, me esfuerzo cada día por crecer profesionalmente y adaptarme a los nuevos entornos. Vengo de Cuba, y en poco tiempo en España, he demostrado mi capacidad de adaptación iniciando una formación intensiva en tecnología.Busco mi primera oportunidad en el sector IT, donde pueda aportar valor, seguir aprendiendo y formar parte de un equipo que comparta la pasión por el desarrollo y la innovación.
    </p>
</body>
</html>